:root {
  --bg-header-color: #fff;
  --text-section-footer-color: #fff;
  --bg-color: #f5f5f5;
  --bg-screan-footer-color: #2f303a;
  --focus-color: #2196f3;
  --accent-color: #2196f3;
  --o-nas-color: #757575;
  --title-text-color: #212121;
  --comands-color: #f5f4fa;
  --logo-studia-color: #0000;
  --header-studio-color: #000000;
  }
 body {
   font-family: 'Roboto' , sans-serif ;
   background-color: #fff;
   color: #757575;
  }
/* header */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px; 
  
}
h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}
  .header-nav{
display: flex;
align-items:center ;

  }
.header-container {
  display: flex;
align-items:center ;
}
.header-contakt {
  display: flex;
  margin-left: auto;
}
.header-contakt .item + .item {
  margin-left: 50px;
}
.site-nav{
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item{
 
  margin-left: 50px;
}
.site-nav .header-list-link {
  display: block;
 padding-top: 32px;
 padding-bottom: 32px;
}


.button {
  cursor: pointer;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-studio {
  color: var(--header-studio-color);
}
.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.list-aktive-link:hover,
.list-aktive-link:focus {
  color: var(--focus-color);
}
.kurent {
  color: var(--focus-color);
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--o-nas-color);
}
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--o-nas-color);
}
/* Заголовок */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  margin: 0 auto;
background: var(--bg-screan-footer-color);
}
.hero-title {
  margin-bottom: 30px;
  padding-left: 280px;
  padding-right: 280px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-header-color);
}
.hero-buton {
  /* font-family: "Roboto";
  text-align: center; */
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* УВАГА ДО ДЕТАЛЕЙ */
.about-list{
display: flex;
flex-wrap: wrap;
/* margin-left: 93px */
}
/* .about-list> .item + .item {
  margin-right: 50px;
} */
.about-list .item {
width: 270px;
background-color: tomato;
}

.about-list-text {
margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.about-list-text2 {
  margin-top: 0px;
  /* margin-bottom: 118px; */
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
 color:var(--o-nas-color)
  /* Чим ми займаємося */
}
.komanda-lis {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* Наша команда */
.name-comands{
  background:var(--comands-color)
}

.name-comands-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.komanda-list-img{
  padding-bottom: 30px;
}
.name-programist {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.name-profesion {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--o-nas-color);
}
.name-comands-img{
padding-bottom: 30px;
}
.name-comands-programist {
  background: var(--bg-header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* footer */
.footer {
  background: var(--bg-screan-footer-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-logo-studio {
  color: var(--bg-header-color);
}
.footer-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-section-footer-color);
}
.footer-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* Поттфолио */
.portfolio-blok{
  display: flex;
  flex-wrap: wrap;
}
.item{
width: 370px;
border-color: tomato;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .list-button{
    display: flex;
    
  }
.button-portfolio {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  min-width: 130px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px solid transparent;
  color: var(--title-text-color);
}
.list-button .button-portfolio + .button-portfolio{
  background-color: #000000;
  margin-left: 8px;
}
.poster-img{
  padding-bottom: 30px;

}
.carts-button:hover,
.carts-button:focus {
  color: var(--bg-header-color);
  background: var(--accent-color);
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px
}
.commands-list-item {
  background-color: var(--bg-header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.poster-text {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.poster-text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--o-nas-color);
}
.portfolio-blok{
  margin-bottom: 94px;
}
